@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: #09090b;
}

h2 {
  color: #ffffff;
  font-family: "Lora";
}

p {
    color:#ffffff;
    font-family: 'Nunito Sans';
}
label {
  display: block;
  margin-bottom: 5px;
  color: #ffffff;
  font-family: "Nunito Sans";
  font-size:larger;
}

.fondo-imagen {
  height: 100vh;
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Ajusta la altura de la columna de la imagen al 100% del viewport */
}

.formulario-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  background-color: #2A2B2C;
  border-color: #2A2B2C;
  border: #2A2B2C;
}

/* Estilo del área del botón */
.input-group .btn-outline-secondary {
  background-color: #1b1d21;
  border-color: #1b1d21;
  border: #1b1d21;
  color: #ffffff;
}

.boton-inicio-sesion {
  width: 100%;
  padding: 10px;
  background-color: #192655;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

.olvidar-contrasena {
  font-size: 14px;
  color: #ffffff;
  font-family: "Nunito Sans";
  text-decoration: none;
  margin-bottom: 10px;
  display: block;
  width: 100%;
  text-align: center;
}

.olvidar-contrasena:hover {
  text-decoration: underline;
}

.imagen-logo {
  max-height: 20vh;
  width: auto;
  margin-bottom: 10px;
  margin-left: auto;
  display: block;
}

.formulario-columna {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formulario-caja {
    background-color:#1b1d21;
    border:#1b1d21;
    border-color:#1b1d21;
    border-radius:20px;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

/* CSS */
.formulario-control:focus {
  outline: none;
  box-shadow: none;
  background-color:#2A2B2C;
  color:#CCCCCC;
}

.formulario-container {
  max-width: 400px;
  width: 100%;
}

@media (min-width: 768px) {
  .formulario-container {
    width: 75%;
  }
}

.formulario-control::placeholder {
  color: #CCCCCC;
}

#volver-login {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 9999; /* Asegura que esté encima de otros elementos */
    color:#192655; /* Cambia el color del botón según tu diseño */
}
