* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Roboto', sans-serif;

}
body {
    margin-top: 103px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0; /* Aseguramos que no haya margen exterior en el cuerpo */
    background-color: #0a0a0a;
    
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #09090B;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0; /* Fijamos la barra de navegación en la parte superior */
}

.bar2 {
    background-color: #111319; /* Cambiamos el color de fondo a azul */
    display: flex;
    justify-content: center;
    position:sticky; /* Fijamos la barra de navegación secundaria */
    width: 100%; /* Hacemos que la barra ocupe el 100% del ancho */
    z-index: 99; /* Aseguramos que la barra secundaria esté por debajo de la barra principal */
    top: 63px; /* Ajustamos la posición para que no se superponga con la barra principal */
}

.bar2 ul {
    display: flex;
    list-style: none;
}

.bar2 li {
    margin: 0 10px; /* Ajustamos los márgenes entre elementos */
}

.bar2 a {
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.5px;
}

.bar2 a:hover {
    background: #192655; /* Cambiamos el color de fondo al hacer hover */
    border-radius: 2px;
}

.navbar {
    display: flex;
    margin-left: auto; /* Movemos las opciones del menú hacia la derecha */
}

.Logo {
    margin-left: 30px;
}

.Logo img {
    width: 120px;
    height: auto;
}

.Logo a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12.5px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.5px;
}

.navbar a:hover {
    background: #192655;
    border-radius: 2px;
}

.container {
    max-width: 900px;
    width: 100%;
    border-radius: 3px;
    padding: 30px;
    margin: 100px auto 120px; /* Agregamos un margen inferior para evitar que el footer tape el contenido */
    background-color: #111319;
}

.container header{
    position: relative;
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
}
.container header::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 3px;
    width: 70px;
    border-radius: 45px;
    background-color: #192655;
}

.container form {
    position: relative;
    margin-top: 16px;
    min-height: 60px;/*tamaño container*/
    background-color: #111319;
}

.container form .details {
    margin-top: 32px;
}

.container form .details.ID {
    margin-top: 32px;
}

.container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #e0e0e0;
}

.container form .fields {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container form .diagnostico-form .fields {
    display: flex;
    flex-direction: column;
}

.diagnostico-form .fields .input-field {
    width: 100%;
}

.form {
    margin-top: 30px; /* Ajustamos el margen superior del formulario para evitar que se superponga con el footer */
}

form .fields .input-field {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

.input-field label {
    font-size: 13px;
    font-weight: 500;
    color: #939292;
}

.input-field input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #d2d2d2;
    border: 1px solid #2f3030;
    border-radius: 3px;
    padding: 0 9px;
    height: 42px;
    margin: 8px 0;
    background-color: #2f3030;
}

.diagnostico-form .input-field textarea {
    outline: none;
    font-size: 15.2px;
    font-weight: 400;
    color: #d2d2d2;
    border: 1px solid #2f3030;
    border-radius: 3px;
    padding: 9px 9px;
    margin: 8px 0;
    background-color: #2f3030;
    width: 100%;
    height: 150px;
    resize: none;
}

.diagnostico-form .input-field textarea:focus,
.diagnostico-form .input-field textarea:valid {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input:is(:focus, :valid) {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}

.input-field input[type="date"] {
    color: #565656;
}

.input-field input[type="date"]:valid {
    color: #565656;
}

.diagnostico-form .input-field input[type="text"] {
    overflow-wrap: break-word;
    width: 100%;
    min-height: 50px;
    height: auto;
}

.boton {
    margin: 11px 0;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 4px;
    background-color: #192655;
    text-decoration: none;
    color: #ffffff;
}

.efecto3 {
    display: inline-block;
    transform: perspective(1px) translate(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    transition-property: color;
    transition-duration: 0.5s;
}

.efecto3 ::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111319;
    transform: scaleX(0);
    transform-origin: 100% 50%;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease-out;
}

.efecto3:hover {
    color: #0a0a0a;
}

.footer {
    width: 100%;
    padding: 2rem 8%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logof {
    height: 80px;
    margin-top: 5px; 
}


.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
}

.social-icon {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.footer-menu-container {
    list-style-type: none;
    color: #ffffff;
    font-size: 11;
}

.menu-item {
    margin: 10px 20px 10px;
    cursor: pointer;
    opacity: 1.0;
}

.menu-item:hover {
    opacity: 0.6;
}

.copyright {
    color: #ffffff;
}

.input-field select {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: #d2d2d2;
    border: 1px solid #2f3030;
    border-radius: 3px;
    padding: 0 9px;
    height: 42px;
    width: 264.984px;
    margin: 8px 0;
    background-color: #2f3030;
    -webkit-appearance: none; /* Quita los estilos predeterminados del navegador */
    -moz-appearance: none;
    appearance: none;
}

.input-field select:focus,
.input-field select:valid {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
