* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family:'Roboto', sans-serif;
    color: #ffffff; /* Color de texto blanco para todos los elementos */
}

body {
    margin-top: 103px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    margin: 0; /* Aseguramos que no haya margen exterior en el cuerpo */
    background-color: #0a0a0a;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 63px;
    background-color: #09090B;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0; /* Fijamos la barra de navegación en la parte superior */
}

.bar2 {
    background-color: #111319; /* Cambiamos el color de fondo a azul */
    display: flex;
    justify-content: center;
    position: sticky; /* Fijamos la barra de navegación secundaria */
    width: 100%; /* Hacemos que la barra ocupe el 100% del ancho */
    z-index: 99; /* Aseguramos que la barra secundaria esté por debajo de la barra principal */
    top: 63px; /* Ajustamos la posición para que no se superponga con la barra principal */
}

.bar2 ul {
    display: flex;
    list-style: none;
}

.bar2 li {
    margin: 0 10px; /* Ajustamos los márgenes entre elementos */
}

.bar2 a {
    display: block;
    padding: 15px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.5px;
}

.bar2 a:hover {
    background: #192655; /* Cambiamos el color de fondo al hacer hover */
    border-radius: 2px;
}

.navbar {
    display: flex;
    margin-left: auto; /* Movemos las opciones del menú hacia la derecha */
}

.Logo {
    margin-left: 30px;
}

.Logo img {
    width: 120px;
    height: auto;
}

.Logo a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12.5px;
}

.navbar a {
    display: block;
    padding: 20px 20px;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12.5px;
}

.navbar a:hover {
    background: #192655;
    border-radius: 2px;
}

/* Estilos para la tabla */
#tabla-pacientes {
    width: 80%; /* Reducir el ancho de la tabla */
    margin: 0 auto; /* Centrar la tabla horizontalmente */
    border-collapse: collapse; /* Combina los bordes de las celdas */
}

#tabla-pacientes th,
#tabla-pacientes td {
    border: 1px solid #111319; /* Agrega bordes a las celdas */
    padding: 8px; /* Espacio interno dentro de las celdas */
    text-align: left; /* Alinea el texto a la izquierda */
}

#tabla-pacientes th {
    background-color: #111319; /* Color de fondo para las celdas de encabezado */
    font-weight: bold; /* Hace que el texto en las celdas de encabezado sea negrita */
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajusta la altura de la sección para centrar verticalmente */
}

/* Estilos para los botones dentro de la tabla */
#tabla-pacientes button {
    background-color: #192655;
    color: #ffffff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
}

#tabla-pacientes button:hover {
    background-color: #0d1540;
}

.footer {
    width: 100%;
    padding: 2rem 8%;
    background-color: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: static;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.logof {
    height: 80px;
    margin-top: 5px; 
}


.footer-menu-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
}

.social-icon {
    height: 100px;
    width: 100px;
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.footer-menu-container {
    list-style-type: none;
    color: #ffffff;
    font-size: 11;
}

.menu-item {
    margin: 10px 20px 10px;
    cursor: pointer;
    opacity: 1.0;
}

.menu-item:hover {
    opacity: 0.6;
}

.copyright {
    color: #ffffff;
}
